@import '../node_modules/@csstools/normalize.css';


/* Constants */

html {
  --main-radius: 4px;

  --background: #edeef0;
  --foreground: rgb(0 0 0 / 90%);
  --main-color: #1E88E5;
}


/* Overrides */

html {
  height: 100%;
  font-size: 125%;

  @media screen and (max-width: 900px) {
    font-size: 90%;
    @media only screen and (max-width: 768px) {
      font-size: 80%;
    }
  }
}

body {
  position: relative;
  height: 100%;
  margin: 0;

  background-color: var(--background);
  color: var(--foreground);

  font-size: 1em;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif;;

  overflow-wrap: break-word;
  overflow: auto;
  touch-action: manipulation;
}

button {
  padding: .15em .25em;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fafbfc;
  font: inherit;
  background-color: #1e88e5;
  min-width: 1.25em;
  min-height: 1.25em;

  &:disabled {
    opacity: .7;
    cursor: initial;
  }

}

span {
  display: inline-block;
  font: inherit;
}

input {
  font: inherit;
  outline: none;
  border: 0;
  font-size: 1em;
  line-height: 1em;
  color: var(--foreground);
  padding: .15em .25em;
  margin-left: -.15em;

  &::placeholder {
    opacity: .35;
  }

  &:focus::placeholder {
    opacity: .5;
  }

}


ul {
  background-color: var(--background);
  padding: 1em 2em;
  border: var(--main-radius);
  overflow-x: auto;
  overflow-y: unset;
}

li {
  cursor: pointer;
  padding: .15em .25em;

  ul {
    padding: .5em 2em;
  }
}

[data-checked=true] {
  background-color: #e2e2e2;
  border: var(--main-radius);
}


